/**
 * Theme Name: Gridiculous
 * Description: Adds support for languages written in a Right To Left (RTL) direction.
 *
 * See http://codex.wordpress.org/Right_to_Left_Language_Support
*/

body {
	direction: rtl;
	unicode-bidi: embed;
}

blockquote {
	border-left: 0;
	border-right: 5px solid #eeeeee;
}

.format-status .avatar {
	margin: 0 0 0 17px;
}

#posts-pagination a,
table th,
table td {
	text-align: right;
}

#posts-pagination .next a,
.format-quote cite {
	text-align: left;
}

#pagination .total-pages,
#pagination .page-numbers,
#post-pagination a,
#post-pagination .current-post-page,
.comment .avatar,
.gallery-item,
.format-status .avatar,
i.quote,
.pullquote,
#author-info img,
#posts-pagination .previous,
.navigation .nav-previous {
	float: right !important;
}

#cancel-comment-reply-link,
.pullquote.alignright,
#posts-pagination .next,
.navigation .nav-next {
	float: left !important;
}

.comment-author,
.comment-meta,
.comment-text,
.format-quote .entry-content,
#author-info .author-text,
.commentlist .children > .comment {
	padding-left: 0 !important;
}

	.format-quote .entry-content {
		padding-right: 70px;
	}

	#author-info .author-text {
		padding-right: 90px;
	}

.widget ul {
	padding: 0 20px 0 0;
}

.bavotasan_custom_text_widget i,
.tags span,
.post-format i,
.post-category i {
	margin-right: 0;
}

	.tags span {
		margin-left: 5px;
	}

	.bavotasan_custom_text_widget i {
		margin-left: 10px;
	}

	.post-format i,
	.post-category i {
		margin-left: 5px;
	}

#site-navigation li a:not(:last-child):after {
    float: left;
}

#site-navigation li a:not(:last-child):after,
#site-navigation ul ul li a:not(:last-child):after {
    margin: 2px 10px 0 0;
}

#site-navigation ul ul li a:not(:last-child):after {
	content: "\f0d9";
}

#site-navigation ul ul li:hover > ul {
	left: auto;
    right: 100% !important;
}

#site-navigation ul li:hover > ul {
	left: auto;
	right: 0;
}

#site-navigation ul ul {
	-moz-box-shadow: -2px 2px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: -2px 2px 2px rgba(0,0,0,0.3);
	box-shadow: -2px 2px 2px rgba(0,0,0,0.3);
}

/* =Pullquotes
-------------------------------------------------------------- */
.pullquote {
	margin: 1em 0 1em 1.625em;
	text-align: left;
}

.pullquote.alignright {
	margin: 1em 1.625em 1em 0;
	text-align: right;
}

@media (max-width: 480px) {
	.pullquote {
		text-align: right;
	}
}

/* =Comments
-------------------------------------------------------------- */
.comment-author,
.comment-meta,
.comment-text {
	padding-right: 75px;
}

.commentlist .children .comment {
	border-left: 0;
	border-right: 1px solid #ddd;
}

.commentlist .children > .comment {
	padding-right: 23px !important;
}

.commentlist .children .comment:before,
.commentlist .children .comment:after {
	left: auto;
}

	.commentlist .children .comment:before {
		right: -6px;
	}

	.commentlist .children .comment:after {
		right: -5px;
	}

/* =bbPress
-------------------------------------------------------------- */
.subscription-toggle {
	float: left;
}